* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Helvetica', sans-serif;
}

body {
    text-align: center;
}

canvas {
    position: absolute;
    display: block;
    top: 0;
}

h2 {
    padding-top: 245px;
    padding-bottom: 30px;
    font-size: 50px;

}

button {
    border: 1px solid red;
    border-radius: 300px;
    padding: 15px;
    text-transform: uppercase;
    background: red;
    cursor: pointer;
    color: white;
    position: absolute;
    z-index: 10000;

    transition: all 0.1s ease;;
}

nav ul {
    position: absolute;
    z-index: 1000;
    right: 20px;
    top: 10px;
}

nav ul li {
    display: inline-block;
    color: #111;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}



/* GRAVITY */

canvas.gravity {
    position: absolute;
    top: 0;
    left: 0;
}

.info.gravity {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .5);
}